<div fxLayout="column" fxFlex>
  
  <mat-toolbar color="primary">
      <h2>Grocery list</h2>
  </mat-toolbar>
  
  <div class="container">
    <div layout="column">
      <mat-form-field>
        <input matInput type="text" [(ngModel)]="grocery" (keyup.enter)="onClick()">
      </mat-form-field>
      <button mat-icon-button type="button" (click)="onClick()"><mat-icon>control_point</mat-icon></button>
    </div>

    <mat-list>
          <mat-list-item *ngFor="let groc of groceries">
            <div fxLayout="row">
              <div *ngIf="groc.show" class="columns">
                  <input type="text" [(ngModel)]="editedGrocery" placeholder="{{groc.name}}">
                  <button mat-button (click)="onEdit(groc)">Edit</button>
              </div>
              <p *ngIf="!groc.show">{{groc.name}}</p>
              <button mat-icon-button (click)="showEditInput(groc)" class="columns"><mat-icon>create</mat-icon></button>
              <button mat-icon-button (click)="onDelete(groc)" class="columns"><mat-icon>delete</mat-icon></button>
            </div>
          </mat-list-item>
    </mat-list>
  </div>
</div>


