/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "https://fonts.googleapis.com/css?family=Material+Icons";

html, body {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  margin: 0;
  height: 100%;
}
.columns{
    margin-left: 10px;
    text-align: center;
}
.container{
    margin-left: 15px;
}